body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1440px;
  font-family: Roboto, sans-serif;
  background: #ffffff;
  overflow-x: hidden;
}

main img {
  width: 100px;
  height: 100px;
}

/* --------------------------------------- HEADER --------------------------------------- */

/* --------------------------------------- HOMEPAGE --------------------------------------- */

header {
  width: 100%;
}

.logo_ohmyfood {
  width: 100%;
  padding: 14px 0 10px;
  display: flex;
  justify-content: center;
  background: #ffffff;
}

.logo_ohmyfood h1 {
  font-family: Shrikhand, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  margin: 0;
}

.location {
  height: 50px;
  background-color: #eaeaea;
  background: linear-gradient(180deg, rgb(190, 190, 190) 0%, #eaeaea 20%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-dot {
  color: #353535;
  margin-right: 17px;
}

.location h3 {
  font-size: 16px;
  font-weight: 500;
}

.restaurant_choice {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.restaurant_choice h2 {
  font-size: 24px;
  padding-top: 33px;
  margin: 0;
}

.restaurant_choice p {
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0 27px;
}

.restaurant_choice button {
  border: none;
  width: 218px;
  height: 50px;
  margin-bottom: 57px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(-10deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  cursor: pointer;
  transition: cubic-bezier(0.35, 0.08, 0, 1.5) all 400ms;
}

.restaurant_choice button:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

/*-------------------------- FONCTIONNEMENT-----------------------  */

.fonctionnement {
  width: 100%;
  min-width: 375px;
  padding: 48px 20px 20px 20px;
  margin: 0;
}

.fonctionnement h2 {
  margin: 0;
  padding-bottom: 26px;
}

.btn_functioning {
  position: relative;
  width: 90%;
  height: 72.38px;
  margin-left: 8px;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: cubic-bezier(0.35, 0.08, 0, 1.5) all 400ms;
  margin-bottom: 24px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.btn_functioning:hover .i_functioning {
  color: #9356dc;
  transform: scale(1.1);
}

.btn_functioning:hover {
  background: #f5edff;
  transform: scale(1.05);
}

.btn_functioning p {
  margin: 0;
  font-weight: 500;
}

.choose_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.i_functioning {
  color: #7e7e7e;
  margin-left: 33px;
  transition: cubic-bezier(0.35, 0.08, 0, 1.5) all 400ms;
  padding-right: 27px;
}

.number {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: #9356dc;
  margin: 0;
  z-index: 100;
  position: absolute;
  top: 24px;
  left: -12px;
}

.number p {
  text-align: center;
  padding-right: 2px;
  padding-top: 4px;
  color: #ffffff;
  font-size: 14.18px;
  font-weight: 500;
}

/*------------------------------- MAIN ----------------------*/

main {
  background: #f7f7f7;
  padding-left: 17px;
  padding-right: 17px;
  font-family: roboto, sans-serif;
}

.restaurant_container {
  padding-top: 54px;
}

.restaurant_container h2 {
  padding-bottom: 20px;
}

.main_card_container {
  display: flex;
  flex-direction: column;
}

.card_restaurant {
  width: 99%;
  height: 251px;
  background: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
}

.card_restaurant a {
  text-decoration: none;
  height: 100%;
}

.card_restaurant img {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0 0px;
}

.new {
  width: 80px;
  height: 29px;
  position: absolute;
  top: 14px;
  right: 14px;
  background: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new p {
  font-size: 14px;
  color: #008766;
  font-weight: 500;
}

.text_card_container {
  padding-left: 12.81px;
  padding-top: 10px;
}

.text_card_container h3 {
  color: #000000;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 4px;
}

.text_card_container p {
  margin: 0;
  color: #000000;
  font-weight: 300;
}

.heart {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 200px;
  right: 36px;
  font-size: 21px;
  cursor: pointer;
}

.anim_heart {
  cursor: pointer;
}

.anim_heart:active .heart-after {
  background: -webkit-linear-gradient(
    200.64deg,
    #9356dc -5.2%,
    #ff79da 110.74%
  );
  background: linear-gradient(
    to top,
    200.64deg,
    #9356dc -5.2%,
    #ff79da 110.74%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: ease-in-out 0.4s;
}

.heart-after {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 200px;
  right: 36px;
  font-size: 21px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: -webkit-linear-gradient(
    200.64deg,
    #9356dc -5.2%,
    #ff79da 110.74%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*---------------------- FOOTER ------------------------*/

footer {
  background: #353535;
}

.footer_container {
  padding-top: 22px;
  padding-bottom: 33px;
  padding-left: 25px;
  color: #ffffff;
}

footer h4 {
  font-family: Shrikhand, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 16px;
}

.footer_container p {
  margin: 0 0 7px 0;
}

.footer_container a {
  text-decoration: none;
  color: #ffffff;
}

.couvert {
  display: flex;
  align-items: center;
}

.utensils {
  padding-right: 11px;
}

.helping {
  padding-right: 10.08px;
}

.partner {
  display: flex;
  align-items: center;
}

/* --------------------------------------- Pages des restaurants ------------------------------------- */

/* --------------------------------------------- HEADER ------------------------------------- */

.header_container {
  background: #ffffff;
  height: 63px;
  display: flex;
  padding-bottom: 10px;
}

.header_container {
  width: 100%;
}

.header_container a {
  position: relative;
  height: 0;
}

.container_ohmyfood {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_ohmyfood h2 {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  padding-top: 14px;
  align-items: center;
}

.arrow {
  font-size: 20px;
  text-align: center;
  color: #353535;
  position: absolute;
  top: 29px;
  left: 23px;
}

.img_container_presentation {
  width: 100%;
}

.img_container_presentation img {
  width: 100%;
  object-fit: cover;
}

.img_note {
  height: 260px;
}

/* --------------------------------------- MAIN -------------------------------------------- */

.main-palette {
  position: relative;
  margin-top: -55px;
  border-radius: 25px 25px 0 0;
  padding: 0 0 0 13px;
}

.title_container h1 {
  font-size: 28px;
  font-style: italic;
  padding: 32px 0 0 0;
  font-family: Shrikhand, sans-serif;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

.title_container {
  position: relative;
  width: 100%;
}

.heart-after-title {
  width: 21px;
  height: 21px;
  font-size: 21px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: -webkit-linear-gradient(
    200.64deg,
    #9356dc -5.2%,
    #ff79da 110.74%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart_title:active .heart-after-title {
  background: -webkit-linear-gradient(
    200.64deg,
    #9356dc -5.2%,
    #ff79da 110.74%
  );
  background: linear-gradient(
    to top,
    200.64deg,
    #9356dc -5.2%,
    #ff79da 110.74%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: ease-in-out 0.4s;
}
.heart_title i {
  position: absolute;
  top: 40px;
  right: 41px;
  font-size: 21px;
}

.heart_title {
  width: 24px;
  height: 24px;
  /* font-size: 21px; */
  cursor: pointer;
}

/* --------------------------------------- MAIN MENU -------------------------------------------- */

.menu_container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.menu_container span {
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: 3px solid #99e2d0;
  display: inline-block;
  width: 40px;
  padding-bottom: 3px;
  margin-bottom: 12px;
}

.card {
  background: #ffffff;
  width: 100%;
  height: 68px;
  border-radius: 15.0431px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.text_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.text {
  padding-left: 10px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.text h4 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text p {
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.price {
  padding-right: 20px;
  margin-top: 29px;
}

.price p {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
}

.checker {
  display: none;
  position: absolute;
  background: #99e2d0;
  border-radius: 0 15px 15px 0;
  right: -84px;
  padding: 0 13px;
  height: 100%;

  top: 0;
  display: flex;
  align-items: center;
}

.checker i {
  color: #ffffff;
  font-size: 30px;
}

.card:hover .checker {
  right: 0;
  transition: 0.5s ease-in-out;
}

.card:hover .checker i {
  animation: rotate 0.5s;
}

.card:hover .text_card {
  width: 84%;
  transition: 0.5s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.plats {
  margin-top: 40px;
}

.entrees {
  animation: slide-in-right 0.4s ease-in-out 0.3s both;
}

.plats {
  animation: slide-in-right 0.5s ease-in-out 0.4s both;
}

.desserts {
  margin-top: 40px;
  margin-bottom: 40px;
  animation: slide-in-right 0.6s ease-in-out 0.4s both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* --------------------------------------- BUTTON -------------------------------------------- */
.order_btn {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order {
  border: none;
  color: #ffffff;
  width: 186px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(-10deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  cursor: pointer;
  transition: cubic-bezier(0.35, 0.08, 0, 1.5) all 400ms;
}

.order:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

/* --------------------------------------- MEDIA QUERIES DESKTOP -------------------------------------------- */

@media screen and (min-width: 992px) {
  body {
    overflow-x: hidden;
  }

  .restaurant_choice h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 18px;
  }

  .fonctionnement_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fonctionnement h2 {
    padding-left: 150px;
  }

  .btn_functioning {
    width: 322px;
    margin-right: 32px;
  }

  /* --------------------------------------- RESTAURANTS -------------------------------------------- */

  .main_card_container {
    display: flex;
    flex-direction: row;
    padding-bottom: 82px;
  }
  .restaurant_container h2 {
    padding-left: 150px;
    margin: 0;
  }

  .main_card_container {
    width: 100%;
    overflow-x: scroll;

    scrollbar-color: rebeccapurple green;
    scrollbar-width: auto;
  }

  .anim_heart:hover .heart-after {
    background: -webkit-linear-gradient(
      200.64deg,
      #9356dc -5.2%,
      #ff79da 110.74%
    );
    background: linear-gradient(
      to top,
      200.64deg,
      #9356dc -5.2%,
      #ff79da 110.74%
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    opacity: 1;
    transition: ease-in-out 0.4s;
  }

  .card_restaurant {
    margin-right: 29px;
    width: 380px;
    height: 251px;
  }

  /* --------------------------------------- FOOTER -------------------------------------------- */

  footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  footer h4 {
    margin: 0;
  }

  .footer_container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 52px;
    padding-bottom: 43px;
    padding-right: 50px;
  }

  .footer_container p {
    margin: 0;
  }

  .couvert {
    order: -1;
  }

  .partner {
    order: -1;
  }

  .mentions {
    order: -1;
  }

  .contact {
    order: -1;
  }
}
