body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
  min-width: 375px;
  max-width: 1440px;
  font-family: Roboto, sans-serif;
  background: #ffffff;
}

main img {
  width: 100px;
  height: 100px;
}

/* --------------------------------------- HEADER --------------------------------------- */

header {
  width: 100%;
}

.logo_ohmyfood {
  width: 100%;
  padding: 20px 0 20px;
  display: flex;
  justify-content: center;
  background: #ffffff;
}

.logo_ohmyfood img {
  width: 162px;
  height: 44px;
}

.location {
  height: 50px;
  background-color: #eaeaea;
  background: linear-gradient(180deg, rgb(190, 190, 190) 0%, #eaeaea 20%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-dot {
  fill: #353535;
  margin-right: 17px;
}

.location h3 {
  font-size: 16px;
  font-weight: 500;
}

.restaurant_choice {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.restaurant_choice h2 {
  font-size: 24px;
  padding-top: 33px;
  margin: 0;
}

.restaurant_choice p {
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0 27px;
}

.restaurant_choice button {
  border: none;
  width: 218px;
  height: 50px;
  margin-bottom: 57px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(-10deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  cursor: pointer;
  transition: cubic-bezier(0.35, 0.08, 0, 1.5) all 400ms;
}

.restaurant_choice button:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

/*-------------------------- FONCTIONNEMENT-----------------------  */

.fonctionnement {
  width: 100%;
  min-width: 375px;
  padding: 48px 20px 20px 20px;
  margin: 0;
}

.fonctionnement h2 {
  margin: 0;
  padding-bottom: 26px;
}

.btn_functioning {
  position: relative;
  width: 90%;
  height: 72.38px;
  margin-left: 8px;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: cubic-bezier(0.35, 0.08, 0, 1.5) all 400ms;
  margin-bottom: 24px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.btn_functioning:hover .svg_functioning {
  fill: #9356dc;
  transform: scale(1.1);
}

.btn_functioning:hover {
  background: #f5edff;
  transform: scale(1.05);
}

.btn_functioning p {
  margin: 0;
  font-weight: 500;
}

.choose_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* width: 100%; */
}

.svg_functioning {
  fill: #7e7e7e;
  margin-left: 33px;
  transition: cubic-bezier(0.35, 0.08, 0, 1.5) all 400ms;
  padding-right: 27px;
}

.number {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: #9356dc;
  margin: 0;
  z-index: 100;
  position: absolute;
  top: 24px;
  left: -12px;
}

.number p {
  text-align: center;
  padding-right: 2px;
  padding-top: 4px;
  color: #ffffff;
  font-size: 14.18px;
  font-weight: 500;
}

/*------------------------------- MAIN ----------------------*/

main {
  background: #f7f7f7;
}
