body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
  min-width: 375px;
  max-width: 1440px;
  font-family: Roboto, sans-serif;
  background: #ffffff;
}

main img {
  width: 100px;
  height: 100px;
}

/* --------------------------------------- HEADER --------------------------------------- */

header {
  width: 100%;
}

.logo_ohmyfood {
  width: 100%;
  padding: 20px 0 20px;
  display: flex;
  justify-content: center;
  background: #ffffff;
}

.logo_ohmyfood img {
  width: 162px;
  height: 44px;
}

.location {
  height: 50px;
  background-color: #eaeaea;
  background: linear-gradient(180deg, rgb(190, 190, 190) 0%, #eaeaea 20%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-dot {
  color: #353535;
  margin-right: 17px;
}

.location h3 {
  font-size: 16px;
  font-weight: 500;
}

.restaurant_choice {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.restaurant_choice h2 {
  font-size: 24px;
  padding-top: 33px;
  margin: 0;
}

.restaurant_choice p {
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0 27px;
}

.restaurant_choice button {
  border: none;
  width: 218px;
  height: 50px;
  margin-bottom: 57px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(-10deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  cursor: pointer;
  transition: cubic-bezier(0.35, 0.08, 0, 1.5) all 400ms;
}

.restaurant_choice button:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

/*-------------------------- FONCTIONNEMENT-----------------------  */

.fonctionnement {
  width: 100%;
  min-width: 375px;
  padding: 48px 20px 20px 20px;
  margin: 0;
}

.fonctionnement h2 {
  margin: 0;
  padding-bottom: 26px;
}

.btn_functioning {
  position: relative;
  width: 90%;
  height: 72.38px;
  margin-left: 8px;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: cubic-bezier(0.35, 0.08, 0, 1.5) all 400ms;
  margin-bottom: 24px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.btn_functioning:hover .i_functioning {
  color: #9356dc;
  transform: scale(1.1);
}

.btn_functioning:hover {
  background: #f5edff;
  transform: scale(1.05);
}

.btn_functioning p {
  margin: 0;
  font-weight: 500;
}

.choose_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.i_functioning {
  color: #7e7e7e;
  margin-left: 33px;
  transition: cubic-bezier(0.35, 0.08, 0, 1.5) all 400ms;
  padding-right: 27px;
}

.number {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: #9356dc;
  margin: 0;
  z-index: 100;
  position: absolute;
  top: 24px;
  left: -12px;
}

.number p {
  text-align: center;
  padding-right: 2px;
  padding-top: 4px;
  color: #ffffff;
  font-size: 14.18px;
  font-weight: 500;
}

/*------------------------------- MAIN ----------------------*/

main {
  background: #f7f7f7;
  padding-left: 17px;
  padding-right: 17px;
}

.restaurant_container {
  padding-top: 54px;
}

.restaurant_container h2 {
  padding-bottom: 20px;
}

.main_card_container {
  display: flex;
  flex-direction: column;
}

.card_restaurant {
  width: 99%;
  height: 251px;
  background: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
}

.card_restaurant a {
  text-decoration: none;
  height: 100%;
}

.card_restaurant img {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0 0px;
}

.new {
  width: 80px;
  height: 29px;
  position: absolute;
  top: 14px;
  right: 14px;
  background: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new p {
  font-size: 14px;
  color: #008766;
  font-weight: 500;
}

.text_card_container {
  padding-left: 12.81px;
  padding-top: 10px;
}

.text_card_container h3 {
  color: #000000;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 4px;
}

.text_card_container p {
  margin: 0;
  color: #000000;
  font-weight: 300;
}

.heart {
  width: 21px;
  height: 21px;
  position: absolute;

  top: 200px;
  right: 36px;
  font-size: 21px;
}

.heart:hover {
  color: #9356dc;
}

.flip-vertical-fwd:hover {
  animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    alternate;
  cursor: pointer;
}

@keyframes flip-vertical-fwd {
  0% {
    transform: translateZ(0) rotateY(0);
  }
  100% {
    transform: translateZ(160px) rotateY(180deg);
  }
}

.heart-after {
  width: 25px;
  height: 25px;
  position: absolute;
  visibility: hidden;
  top: 200px;
  right: 36px;
  font-size: 21px;
}

.heart-after:hover {
  visibility: visible;
}

/*---------------------- FOOTER ------------------------*/

footer {
  background: #353535;
}

.footer_container {
  padding-top: 22px;
  padding-bottom: 33px;
  padding-left: 25px;
  color: #ffffff;
}

.footer_container img {
  width: 137px;
  height: 27px;
  padding-bottom: 16px;
}

.footer_container p {
  margin: 0 0 7px 0;
}

.footer_container a {
  text-decoration: none;
  color: #ffffff;
}

.couvert {
  display: flex;
  align-items: center;
}

.utensils {
  padding-right: 11px;
}

.helping {
  padding-right: 10.08px;
}

.partner {
  display: flex;
  align-items: center;
}
